# Compiled class file
*.class
# Log file
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
log/
*.sftp-config
sftp-config.json.bak
sftp-config.json
paoshu8/runinfo.out
#sublime save profile
my_wordk.sublime-project
nohup.out
zdz.out